/**
 * Created by yousef on 6/14/2025 at 3:01 PM.
 */
.container {
    background: #000;
    border-radius: 6px;
    overflow: hidden;
    color: #d5d0ce;
    font-family: monospace;
    font-size: 14px;
}

.terminal_toolbar {
    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 8px;
    background: #212121;
    justify-content: space-between;
}

.butt {
    display: flex;
    align-items: center;
}

.btn {
    margin-right: 5px;
    height: 12px;
    width: 12px;
    border: none;
    border-radius: 100%;
    background: linear-gradient(#7d7871 0%, #595953 100%);
}

.btn-color {
    background: #ee411a;
}

.add_tab {
    border: 1px solid #fff;
    padding: 0 6px;
    color: #fff;
    border-radius: 4px 4px 0 0;
}

.user {
    font-size: 13px;
    color: #d5d0ce;
}

.terminal_body {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    min-height: 150px;
}

.terminal_promt {
    display: flex;
    flex-wrap: wrap;
}

.terminal_promt span {
    margin-left: 4px;
}

.terminal_user {
    color: #1eff8e;
}

.terminal_location {
    color: #4878c0;
}

.terminal_bling {
    color: #dddddd;
}

.terminal_cursor {
    display: inline-block;
    width: 5px;
    height: 14px;
    background: #fff;
    animation: curbl 1.2s linear infinite;
}

@keyframes curbl {
    0%, 49% { background: #ffffff; }
    50%, 100% { background: transparent; }
}
